* {
    border: none;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #1f1c27;
    border: 2px solid #c5003c;
    border-radius: 4px;
}

tooltip {
    background-color: #353146;
    border: 2px solid #c5003c;
    font-size: 2px;
}

tooltip label {
	margin: 8px;
    color: #ffffff;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
	border-radius: 4px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 10px;
    /* width: 16px; */
    /* height: 16px; */
    color: #55ead4;
    background-color: #353146;
    border: 2px solid #55ead4;
    border-radius: 0px;
    margin-right: 4px;
}

#workspaces button.active {
    color: #1f1c27;
    background-color: #55ead4;
}

#workspaces button.urgent {
    background-color: #f3e600;
	color: #1f1c27;
	border: 2px solid #f3e600;
}

#clock {
    background-color: #c5003c;
    color: #ffffff;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#language {
    background-color: #353146;
    border: 2px solid #c5003c;
    color: #ffffff;
}

#network {
	min-width: 100px;
}

#cpu,
#memory,
#battery,
#pulseaudio {
	min-width: 60px;
}

#cpu.critical,
#memory.critical {
    color: #f3e600;
    border: 2px solid #f3e600;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #f3e600;
    border: 2px solid #f3e600;
}

#custom-launcher {
	font-size: 20px;
    margin-left: 4px;
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
	color: #c5003c;
}

#custom-control {
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	transition: none;
	color: #f3e600;
}

#language {
	min-width: 20px;
}